<!-- Sidebar  -->
<section th:fragment="sidebar">
	<nav id="sidebar">
		<div class="sidebar-header">
			<h3>System32</h3>
		</div>
		<div class="list-group">
			<ul class="list-unstyled components">
				<li class="list-group-item list-group-item-action"><a
					th:href="@{https://www.linkedin.com/in/ceelo17/}"><i class="fab fa-linkedin fa-2x"></i></a></li>
				<li class="list-group-item list-group-item-action"><a
					th:href="@{https://www.instagram.com/ceelo_17/}"><i class="fab fa-instagram fa-2x"></i></a></li>
				<li class="list-group-item list-group-item-action"><a
					th:href="@{https://github.com/Ceelo17}"><img
						th:src="@{/img/gitHub/GitHub-Mark-32px.png}"></a></li>
			</ul>
		</div>
	</nav>
</section>

