<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="imports/header">
<title>Cadastro</title>
</head>

<body>
	<div class="wrapper">
	
	<div th:replace="layout/sidebar :: sidebar"></div>

		<div id="content">
		
		<div th:replace="layout/header :: header"></div>

			<form th:form th:action="@{pessoa/cadastrar}" method="post">

				<div class="form-row">
					<div class="form-group col-md-6">

						<label th:label> Nome </label> <input type="text" name="nome"
							placeholder="Seu nome" required="required" class="form-control" />
					</div>

					<div class="form-group col-md-6">
						<label th:label>Endereço de email</label> <input type="email"
							class="form-control" name="email" aria-describedby="emailHelp"
							placeholder="Seu email" required="required"> <small
							th:span id="emailHelp" class="form-text text-muted">Nunca
							vamos compartilhar seu email, com ninguém.</small>
					</div>

					<div class="form-group col-md-2">
						<label th:label> Data de Nascimento </label> <input type="text"
							name="dtNascimento" required="required" class="form-control" />
					</div>
				</div>

				<button type="submit" class="btn btn-primary">Enviar</button>
			</form>

			<h2>Lista de Pessoas</h2>
			<div>
				<table class="table table-dark">
					<thead>
						<tr>
							<th scope="col">Id</th>
							<th scope="col">Nome</th>
							<th scope="col">Email</th>
							<th scope="col">Data de Nascimento</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="ps : ${pessoas}">
							<th th:text="${ps.id}" scope="row"></th>
							<td th:text="${ps.nome}"></td>
							<td th:text="${ps.email}"></td>
							<td th:text="${ps.dtNascimento}"></td>

							<td><a th:href="@{/pessoa/editarForm/${ps.id}}">
									<button type="submit" class="btn btn-primary">Editar</button>
							</a></td>
							<td><a th:href="@{/pessoa/deletar/{id}(id=${ps.id})}">
									<button type="submit" class="btn btn-primary">Deletar</button>
							</a></td>
							<td><a th:href="@{/tarefa/${ps.id}}">
									<button type="submit" class="btn btn-primary">Tarefa</button>
							</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<footer th:replace="imports/footer"></footer>
</body>
</html>